/* Styles go here */
table td {
  font-size: 24px;
  line-height: 32px;
}

.table thead th {
  padding-bottom: 0;
}

h4 {
  text-align: center;
}

.multibutton {
  position: relative;
}

.multibutton img {
  position: absolute;
  height: 200%;
  right: 5px;
  top: -60%;
}

.currency {
    max-width: 15ch;
    font-size: 18px;
    text-align: right;
    line-height: 18px;
    font-weight: 500;
    vertical-align: middle;
    background: no-repeat url('/tt.png');
    background-size:contain;
    padding-left: 22px;
    font-family: Arial;
}

/* Tokenomics */

.tokenomics {
  text-align: center;
}

.progress {
  height: 5rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.progress .bg-warning {
  color: #050505;
}
